# Student Score Data Performance Analysis

Problem: Whose homework performed the best? Which homework can students performed best on?

Approach: Using pandas to clean datasets and format, rank averge score by person and by homework.

Result: HW10 is the one students get highest score among all those homeworks. And yang performed the best on homework.

In [1]:
import pandas as pd
pd.set_option("display.precision", 2)
df_HW = pd.read_csv("HW_data.csv")
df_HW

,Name,HW1,HW2,HW3,HW5,HW6,HW7,HW8,HW9,HW10,HW12,HW13,HW15,HW16
0,Jenny Li 李沁阳,8.5,9.5,6.0,7.0,5.0,NaN,9.0,NaN,10.0,NaN,NaN,NaN,NaN
1,Li Jing 李晶,10.0,10.0,8.5,10.0,NaN,NaN,10.0,NaN,10.0,8.5,7.5,9.0,NaN
2,Yang danzhang 杨丹璋,9.0,10.0,9.5,10.0,10.0,9.0,10.0,10.0,10.0,8.5,NaN,10.0,9.0
3,Xu Jingsi 许竞思,9.5,10.0,8.0,NaN,10.0,7.0,9.0,NaN,NaN,NaN,8.0,NaN,NaN
4,Song Yiwen 宋祎雯,8.5,8.5,8.0,6.0,8.0,6.0,6.0,6.0,9.0,7.5,NaN,7.0,7.0
5,Shangguan Shun 上官舜,8.5,9.0,9.5,9.0,10.0,NaN,10.0,NaN,9.0,NaN,NaN,7.0,NaN
6,Benxi Pang 庞本茜,9.0,8.0,9.0,6.0,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN
7,Chloe Zhao 赵晨馨,8.5,9.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0,7.0,9.0,NaN
8,Ying Li 李英,NaN,7.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,BAOMEI WEN 温宝妹,10.0,10.0,9.5,8.0,10.0,10.0,10.0,8.0,10.0,9.5,9.5,10.0,10.0
10,Xiaoqing Zhang 张晓晴,9.0,NaN,8.5,8.0,10.0,10.0,9.5,10.0,NaN,NaN,NaN,NaN,NaN
11,June Wang 王军琴,NaN,10.0,10.0,10.0,9.5,9.0,10.0,10.0,10.0,NaN,NaN,10.0,7.0

## split the name into English and Chinese part, delete the original column

In [2]:
df_HW['English_Name']=df_HW['Name'].str.rsplit(n=1,expand = True)[0]
df_HW['Chinese_Name']=df_HW['Name'].str.rsplit(n=1,expand = True)[1]
df_HW.drop(columns=['Name'],inplace=True)
df_HW

,HW1,HW2,HW3,HW5,HW6,HW7,HW8,HW9,HW10,HW12,HW13,HW15,HW16,English_Name,Chinese_Name
0,8.5,9.5,6.0,7.0,5.0,NaN,9.0,NaN,10.0,NaN,NaN,NaN,NaN,Jenny Li,李沁阳
1,10.0,10.0,8.5,10.0,NaN,NaN,10.0,NaN,10.0,8.5,7.5,9.0,NaN,Li Jing,李晶
2,9.0,10.0,9.5,10.0,10.0,9.0,10.0,10.0,10.0,8.5,NaN,10.0,9.0,Yang danzhang,杨丹璋
3,9.5,10.0,8.0,NaN,10.0,7.0,9.0,NaN,NaN,NaN,8.0,NaN,NaN,Xu Jingsi,许竞思
4,8.5,8.5,8.0,6.0,8.0,6.0,6.0,6.0,9.0,7.5,NaN,7.0,7.0,Song Yiwen,宋祎雯
5,8.5,9.0,9.5,9.0,10.0,NaN,10.0,NaN,9.0,NaN,NaN,7.0,NaN,Shangguan Shun,上官舜
6,9.0,8.0,9.0,6.0,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,Benxi Pang,庞本茜
7,8.5,9.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0,7.0,9.0,NaN,Chloe Zhao,赵晨馨
8,NaN,7.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ying Li,李英
9,10.0,10.0,9.5,8.0,10.0,10.0,10.0,8.0,10.0,9.5,9.5,10.0,10.0,BAOMEI WEN,温宝妹
10,9.0,NaN,8.5,8.0,10.0,10.0,9.5,10.0,NaN,NaN,NaN,NaN,NaN,Xiaoqing Zhang,张晓晴
11,NaN,10.0,10.0,10.0,9.5,9.0,10.0,10.0,10.0,NaN,NaN,10.0,7.0,June Wang,王军琴

## set the Chinese name as index

In [3]:
df_HW.set_index('Chinese_Name',inplace=True)
df_HW

,HW1,HW2,HW3,HW5,HW6,HW7,HW8,HW9,HW10,HW12,HW13,HW15,HW16,English_Name
Chinese_Name,,,,,,,,,,,,,,
李沁阳,8.5,9.5,6.0,7.0,5.0,NaN,9.0,NaN,10.0,NaN,NaN,NaN,NaN,Jenny Li
李晶,10.0,10.0,8.5,10.0,NaN,NaN,10.0,NaN,10.0,8.5,7.5,9.0,NaN,Li Jing
杨丹璋,9.0,10.0,9.5,10.0,10.0,9.0,10.0,10.0,10.0,8.5,NaN,10.0,9.0,Yang danzhang
许竞思,9.5,10.0,8.0,NaN,10.0,7.0,9.0,NaN,NaN,NaN,8.0,NaN,NaN,Xu Jingsi
宋祎雯,8.5,8.5,8.0,6.0,8.0,6.0,6.0,6.0,9.0,7.5,NaN,7.0,7.0,Song Yiwen
上官舜,8.5,9.0,9.5,9.0,10.0,NaN,10.0,NaN,9.0,NaN,NaN,7.0,NaN,Shangguan Shun
庞本茜,9.0,8.0,9.0,6.0,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,Benxi Pang
赵晨馨,8.5,9.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0,7.0,9.0,NaN,Chloe Zhao
李英,NaN,7.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ying Li
温宝妹,10.0,10.0,9.5,8.0,10.0,10.0,10.0,8.0,10.0,9.5,9.5,10.0,10.0,BAOMEI WEN
张晓晴,9.0,NaN,8.5,8.0,10.0,10.0,9.5,10.0,NaN,NaN,NaN,NaN,NaN,Xiaoqing Zhang
王军琴,NaN,10.0,10.0,10.0,9.5,9.0,10.0,10.0,10.0,NaN,NaN,10.0,7.0,June Wang

## Check the score for '王军琴' at 'HW10'

In [4]:
df_HW.loc['王军琴','HW10']

10.0

## Create a subset of data with names starting from 李 and for HW5 to HW10

In [5]:
df_HW[df_HW.index.str.startswith('李')].loc[:,'HW5':'HW10']

               HW5  HW6  HW7   HW8  HW9  HW10
Chinese_Name
李沁阳            7.0  5.0  NaN   9.0  NaN  10.0
李晶            10.0  NaN  NaN  10.0  NaN  10.0
李英             NaN  NaN  NaN   NaN  NaN   NaN

## Missing value of each homework exploration
Count how many HWs are missing for each HW. Find HW13 has the most missing.

In [6]:
NA_HW=df_HW.isnull().sum()
NA_HW

HW1             2
HW2             1
HW3             0
HW5             3
HW6             4
HW7             6
HW8             3
HW9             7
HW10            5
HW12            6
HW13            8
HW15            5
HW16            8
English_Name    0
dtype: int64

In [7]:
NA_HW.idxmax()

'HW13'

## Missing value of each student exploration

In [8]:
NA_person = df_HW.isnull().sum(axis = 1)
NA_person

Chinese_Name
李沁阳     6
李晶      4
杨丹璋     1
许竞思     6
宋祎雯     1
上官舜     5
庞本茜     8
赵晨馨     7
李英     11
温宝妹     0
张晓晴     6
王军琴     3
dtype: int64

In [9]:
NA_person.idxmax()

'李英'

## Average score of each homework
Calculate the average score for each HW and save it into a new row

In [11]:
new_row=pd.Series(data=df_HW.mean())
new_data=pd.DataFrame([new_row],index=['Average_HW'])
df_HW=df_HW.append(new_data,sort=True)
df_HW

,English_Name,HW1,HW10,HW12,HW13,HW15,HW16,HW2,HW3,HW5,HW6,HW7,HW8,HW9
李沁阳,Jenny Li,8.50,10.00,NaN,NaN,NaN,NaN,9.50,6.00,7.00,5.00,NaN,9.00,NaN
李晶,Li Jing,10.00,10.00,8.50,7.5,9.00,NaN,10.00,8.50,10.00,NaN,NaN,10.00,NaN
杨丹璋,Yang danzhang,9.00,10.00,8.50,NaN,10.00,9.00,10.00,9.50,10.00,10.00,9.0,10.00,10.0
许竞思,Xu Jingsi,9.50,NaN,NaN,8.0,NaN,NaN,10.00,8.00,NaN,10.00,7.0,9.00,NaN
宋祎雯,Song Yiwen,8.50,9.00,7.50,NaN,7.00,7.00,8.50,8.00,6.00,8.00,6.0,6.00,6.0
上官舜,Shangguan Shun,8.50,9.00,NaN,NaN,7.00,NaN,9.00,9.50,9.00,10.00,NaN,10.00,NaN
庞本茜,Benxi Pang,9.00,NaN,9.00,NaN,NaN,NaN,8.00,9.00,6.00,NaN,NaN,NaN,NaN
赵晨馨,Chloe Zhao,8.50,NaN,9.00,7.0,9.00,NaN,9.00,8.00,NaN,NaN,NaN,NaN,NaN
李英,Ying Li,NaN,NaN,NaN,NaN,NaN,NaN,7.00,6.00,NaN,NaN,NaN,NaN,NaN
温宝妹,BAOMEI WEN,10.00,10.00,9.50,9.5,10.00,10.00,10.00,9.50,8.00,10.00,10.0,10.00,8.0
张晓晴,Xiaoqing Zhang,9.00,NaN,NaN,NaN,NaN,NaN,NaN,8.50,8.00,10.00,10.0,9.50,10.0
王军琴,June Wang,NaN,10.00,NaN,NaN,10.00,7.00,10.00,10.00,10.00,9.50,9.0,10.00,10.0
Average_HW,NaN,9.05,9.71,8.67,8.0,8.86,8.25,9.18,8.38,8.22,9.06,8.5,9.28,8.8

## Rank the average score for each HW from highest to lowest

In [12]:
df_HW.loc['Average_HW'].sort_values(ascending=False)

HW10            9.7
HW8             9.3
HW2             9.2
HW6             9.1
HW1             9.1
HW15            8.9
HW9             8.8
HW12            8.7
HW7             8.5
HW3             8.4
HW16            8.2
HW5             8.2
HW13              8
English_Name    NaN
Name: Average_HW, dtype: object

## Average score for each student

In [13]:
df_HW['Average_person']=df_HW.mean(axis=1)
df_HW

,English_Name,HW1,HW10,HW12,HW13,HW15,HW16,HW2,HW3,HW5,HW6,HW7,HW8,HW9,Average_person
李沁阳,Jenny Li,8.50,10.00,NaN,NaN,NaN,NaN,9.50,6.00,7.00,5.00,NaN,9.00,NaN,7.86
李晶,Li Jing,10.00,10.00,8.50,7.5,9.00,NaN,10.00,8.50,10.00,NaN,NaN,10.00,NaN,9.28
杨丹璋,Yang danzhang,9.00,10.00,8.50,NaN,10.00,9.00,10.00,9.50,10.00,10.00,9.0,10.00,10.0,9.58
许竞思,Xu Jingsi,9.50,NaN,NaN,8.0,NaN,NaN,10.00,8.00,NaN,10.00,7.0,9.00,NaN,8.79
宋祎雯,Song Yiwen,8.50,9.00,7.50,NaN,7.00,7.00,8.50,8.00,6.00,8.00,6.0,6.00,6.0,7.29
上官舜,Shangguan Shun,8.50,9.00,NaN,NaN,7.00,NaN,9.00,9.50,9.00,10.00,NaN,10.00,NaN,9.00
庞本茜,Benxi Pang,9.00,NaN,9.00,NaN,NaN,NaN,8.00,9.00,6.00,NaN,NaN,NaN,NaN,8.20
赵晨馨,Chloe Zhao,8.50,NaN,9.00,7.0,9.00,NaN,9.00,8.00,NaN,NaN,NaN,NaN,NaN,8.42
李英,Ying Li,NaN,NaN,NaN,NaN,NaN,NaN,7.00,6.00,NaN,NaN,NaN,NaN,NaN,6.50
温宝妹,BAOMEI WEN,10.00,10.00,9.50,9.5,10.00,10.00,10.00,9.50,8.00,10.00,10.0,10.00,8.0,9.58
张晓晴,Xiaoqing Zhang,9.00,NaN,NaN,NaN,NaN,NaN,NaN,8.50,8.00,10.00,10.0,9.50,10.0,9.29
王军琴,June Wang,NaN,10.00,NaN,NaN,10.00,7.00,10.00,10.00,10.00,9.50,9.0,10.00,10.0,9.55
Average_HW,NaN,9.05,9.71,8.67,8.0,8.86,8.25,9.18,8.38,8.22,9.06,8.5,9.28,8.8,8.77

## Rank the average score for each person from highest to lowest

In [14]:
df_HW['Average_person'].sort_values(ascending=False)

杨丹璋           9.58
温宝妹           9.58
王军琴           9.55
张晓晴           9.29
李晶            9.28
上官舜           9.00
许竞思           8.79
Average_HW    8.77
赵晨馨           8.42
庞本茜           8.20
李沁阳           7.86
宋祎雯           7.29
李英            6.50
Name: Average_person, dtype: float64